@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap");

body {
  color: #3b3430;
  font-family: "Montserrat", sans-serif;
}

.change-color {
  background-color: #efe5d8;
}

h1 {
  font-family: "Lora", serif;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: #3b3430;

  &:hover {
    color: #3b2a1e;
    cursor: pointer;
  }
}

.container {
  padding: 16px;
  max-width: 800px;
}

// Buttons
.btn-custom {
  padding: 0;

  svg {
    height: 24px;
    width: 24px;
  }
}

.btn-update {
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: #3B2A1E;
  color: #fff;
}

@media (min-width: 600px) {
  .btn-update {
    display: block;
    margin: 0 0 0 auto;
    width: 200px;
  }
}

@media (min-width: 1024px) {
  body {
    overflow: hidden !important;
  }
}
