.categories {
  &-container {
    width: 100%;
    padding: 0;
  }

  &-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &-list-item {
    padding: 0;
    margin: 0 0 1rem 0;

    img {
      margin-right: 0.5rem;
    }
  }

  &-icon {
    width: 2rem;
  }
}

.overflow-style {
  overflow-x: scroll;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 0.8rem;

  &::before,
  &::after {
    content: '';
    flex: 0 0 1rem;
  }

  li {
    flex: 0;
    margin-right: 1rem;
  }

  img {
    width: 1rem;
  }
}

.overflow-style .categories-link {
  display: flex;
  align-items: center;
}

@media (min-width: 900px) {
  .categories {
    &-container {
      padding-right: 15px;
      max-width: 700px;
      margin: 0 auto;
    }
  }

  .overflow-style {
    margin: 1rem auto;
  }
}
