.category-page-heading {
    padding-left: 16px;
}

@media (min-width: 1024px) {
    .category-page {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        padding: 16px;
        max-width: 1920px;
        margin: 0 auto;
    }
}