.company-page {
  &-image-container {
    margin-bottom: 1rem;
  }

  &-info-container {
    margin: 0 auto;
    max-width: 800px;
    padding: 16px;
    padding-top: 0;

    h1 {
      font-size: 1.5rem;
    }
  }

  &-info-details {
    display: flex;
    justify-content: space-between;
  }
}

.map-wrapper {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-left: -6px;
}

@media (min-width: 900px) {
  .company-page {
    &-content-container {
      overflow-y: auto;
      height: 80vh;
    }

    &-info-details {
      justify-content: flex-start;
    }
    &-opening-hours {
      margin-right: 2rem;
    }
  }

  .company-wrapper {
    overflow-y: auto;
    height: 60vh;
  }

  .button-back {
    display: none;
  }
}
