.company-edit-container {
    width: 100%;
    padding: 1rem;
}

.thumbnail-images-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 16px 16px 16px;
}

.edit-button-container {
    display: flex;
    flex-direction: column;
}

.opening-hours-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.opening-hours-list-item {
    width: 45%;
    margin-bottom: 16px;
}

@media (min-width: 600px) {
    .company-edit-card {
        width: 600px;
        margin: 0 auto;
    }

    .image-wrapper {
        width: 40%;
        margin: 16px;
    }

    .opening-hours-list-item {
        width: 30%;
        margin-bottom: 16px;
    }
}