.company-page {
  &-image-container {
    margin-bottom: 1rem;
  }

  &-info-container {
    margin: 0 auto;
    max-width: 800px;
    padding: 16px;
    padding-top: 0;

    h1 {
      font-size: 1.5rem;
    }
  }

  &-info-details {
    display: flex;
    justify-content: space-between;
  }
}

.map-wrapper {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 900px) {
  .company {
    &-content-container {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin: 1rem auto;
    }

    &-image-container {
      width: 50%;
    }

    &-info-container {
      width: 50%;
    }
  }

  .company-page {
    &-info-details {
      justify-content: flex-start;
    }
    &-opening-hours {
      margin-right: 2rem;
    }
  }

  .carousel .carousel-slider {
    height: 200px;
  }

  .button-back {
    display: none;
  }
}
