.company {
  &-info-container {
    margin: 1rem;
  }
}

.button-container {
  margin: 1rem;
}

.button-custom {
  padding: 0;
}

.btn-primary {
  background-color: none !important;
  border-color: none !important;
}

@media (min-width: 900px) {
  .company {
    &-content-container {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin: 1rem;
    }

    &-image-container {
      width: 50%;
    }

    &-info-container {
      width: 50%;
    }
  }
}
