// search bar
.search-bar {
  align-items: center;
  position: relative;
  margin: 1rem auto;

  &-input {
    border-radius: 30px;
    border: none;
    background: rgb(245, 245, 245);
  }

  &-button {
    background: none;
    border: none;
    position: absolute;
    right: 0.75rem;
  }
}
