.search-bar {
  align-items: center;
  position: relative;
  width: 280px;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 40px;
    margin-top: 16px;
  }

  &-form {
    position: relative;
  }

  &-input {
    border-radius: 30px;
    border: none;
    background: rgb(245, 245, 245);
    padding-left: 1rem;
  }

  &-button {
    background: none;
    border: none;
    position: absolute;
    right: 0.75rem;
  }
}

.search-bar-menu-open {
  z-index: 0;
  transition: z-index 0.2s ease-in-out;
}

.search-bar-menu-close {
  z-index: 5;
  transition: z-index 1.2s ease-in-out;
}

@media (min-width: 600px) {
  .search-bar {
    width: 400px;
  }
}

@media (min-width: 900px) {
  .search-bar {
    &-container {
      top: 22px;
    }
  }
}
