// search bar
.search-bar {
  align-items: center;
  position: relative;
  margin: 1rem;

  &-container {
    // padding: 1rem 0 0 0;
    width: 100%;
    position: sticky;
    top: 42px;
    z-index: 5;
  }

  &-input {
    border-radius: 30px;
    border: none;
    background: rgb(245, 245, 245);
  }

  &-button {
    background: none;
    border: none;
    position: absolute;
    right: 0.75rem;
  }
}

@media (min-width: 900px) {
  .search-bar {
    margin: 1rem auto;
    width: 50%;
  }
}
